global
    log stdout format raw local0
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http-in
    bind *:8080 accept-proxy  # Меняем порт на 8080 и принимаем PROXY protocol
    mode http
    default_backend servers

backend servers
    mode http
    option http-server-close
    server static-content-server localhost:8080 check  # Проксируем на порт 8080
