.header
	&__box
		width: 100%
		padding-top: 0!important
	&__balance
		&__text
			margin-left: 9px
		&__box
			margin-bottom: 4px
	&__wallet
		background: #282828
		display: flex
		align-items: center
		gap: 10px
		padding: 6px 10px
		margin: 4px auto 32px
		border-radius: 7px
.wallet_connect
	&__button
		background: #BCFF2F
		padding: 6px 15px
		border-radius: 7px
		margin: 0 auto
		margin-top: 28px
.spinning_v2
	&__slot
		position: absolute
		width: 100%
		height: 26px
		transition: all 0.5s ease
		opacity: 1
	&__rotate
		margin: 0 auto
		width: 100%
		height: 135px
		overflow: hidden
		transform-style: preserve-3d
		position: relative
	&__ring
		width: 100%
		height: 26px
		transform-style: preserve-3d
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		z-index: 100
		&__wrapper
			position: absolute
			top: 50%
			left: 50%
	&__highligh
		height: 26px!important
		z-index: 50
		background: #171717
		border-radius: 6px
	&__top_shadow
		position: absolute
		inset: 0
		width: 100%
		height: 100%
		z-index: 1000
		background: linear-gradient(to bottom, #212121 0%, rgba(33, 33, 33, 0) 43.35%)
	&__bot_shadow
		position: absolute
		inset: 0
		width: 100%
		height: 100%
		z-index: 1000
		background: linear-gradient(to top, #212121 0%, rgba(33, 33, 33, 0) 43.35%)
.spins_v2
	&__box
		background: #212121
		border-radius: 16px
		min-height: 262px
		border: 1px solid #000000
		margin-top: 40px
		padding: 18px 20px 20px
		justify-content: space-between !important
		position: relative

	&__divider
		width: 100%
		height: 1px
		background: rgba(255, 255, 255, 0.05)
		margin: 12px 0

	&__keys
		&__amount_box
			padding: 5px 9px
			background: rgba(255, 255, 255, 0.1)
			border-radius: 24px
		&__button
			background: #fff
			padding: 6px 20px
			border-radius: 7px

	&__bot_landing
		&__button
			height: 42px
			border-radius: 12px
			margin-top: 16px
			&_active
				background: #BCFF2F
			&_inactive
				border: 1px solid #FFFFFF1A
				color: #5E5E5E !important

	&__bot_end
		&_divider
			width: 100%
			height: 1px !important
			background: white

		&_originalAmount
			margin-right: 10px
			letter-spacing: -0.45px
			text-align: center
			position: relative

		&__button
			height: 50px
			border-radius: 10px
			background: #fff
			margin: 0 30px

		&__box
			position: relative
			padding: 12px 16px 30px
			border: 1px solid #000000
			border-radius: 16px
			background: #212121
			gap: 16px
			z-index: 10
			overflow: hidden
			justify-content: space-between !important

			&_overlay
				position: fixed
				top: 0
				backdrop-filter: blur(4px)
				width: 100%
				height: 100vh
				z-index: 10

				&::before
					content: ""
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					background: rgba(0, 0, 0, 0.75)

			&:before,
			&:after
				content: ""
				position: absolute
				background: #BCFF2F
				width: 182px
				height: 75px
				left: -82px
				top: -90px
				border-radius: 100%
				filter: blur(60px)

			&:after
				left: auto
				right: -82px

.multiplier_badge
	border-radius: 25.14px
	gap: 4px
	position: relative
	background-color: #999999
	padding: 2px 3px 2px 8px

	span
		width: 28px
		height: 28px
		background-color: #282828
		border-radius: 30px
		color: #A8A8A8

	&_colored
		padding-left: 12px
		background-color: #BCFF2F
		box-shadow: 0 0 20px 0 #BCFF2F99

		span
			background-color: #1A270F
			color: #BCFF2F

.modal_wallet
	&__box
		background: #000
		border-radius: 10px
		padding: 20px
	&__button
		display: block
		width: 100%
		height: 50px
		border-radius: 10px
		text-align: center
		cursor: pointer

		&__white
			background: #fff
			color: #000 !important
		&__transparent
			border: 2px solid #282828
			color: #999999 !important
.modal_reward
	&__background
		background: rgba(0, 0, 0, .6)
		z-index: 1
		transition: all .2s ease
		opacity: 0
		&_active
			opacity: 1
	&__box
		background: #000
		z-index: 2
		top: 0!important
		bottom: 0
		transform: translate(-50%, 0)!important
		border-top-left-radius: 10px
		border-top-right-radius: 10px
		padding: 34px 17px 90px
		transition: all .2s ease
		&_active
			transform: translate(-50%, 0)!important
.modal_learning
	&__button
		width: 269px
		height: 50px
		background: #BCFF2F
		border-radius: 10px
.modal_onboarding
	&__indicators
		position: absolute
		top: 20px
		left: 50%
		z-index: 2
		width: 300px
		transform: translateX(-50%)
		gap: 10px
	&__indicator
		width: 100%
		height: 3px
		border-radius: 5px
		background: #5E5E5E
		transition: background .2s
		&_active
			background: #fff
	&__slide
		user-select: none
		height: 100vh
		width: 100vw
		text-align: left
		overflow: visible
		background: #000
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center
	&__image
		width: 100%
		height: auto
		margin-top: 30px
		margin-bottom: 50px
	&__title
		width: 310px
		margin-bottom: 4px
	&__text
		width: 310px
		min-height: 80px
		margin-bottom: 30px
		span
			white-space: nowrap
	&__button
		width: 310px
		height: 50px
		border-radius: 10px

.daily_multiplier
	position: relative
	padding: 12px 12px 24px 12px
	height: 100%
	margin-left: 40px
	font-family: "SF Pro", sans-serif
	line-height: 20px
	letter-spacing: -0.23px
	text-align: left
	gap: 18px
	border: 1px solid #282828
	border-radius: 16px

	&_title
		display: flex
		color: #fff
		font-size: 15px
		font-weight: 400
		width: 106px

	&_buttonInfo
		position: absolute
		right: 12px
		top: 12px
		width: 18px
		height: 18px

.eventBadge
	position: relative
	top: -20px
	display: flex
	gap: 20px
	align-items: center
	border: 1px solid #2990FF
	border-radius: 16px
	padding: 6px 10px 6px 6px
	box-shadow: 0px 15px 25px 0px #0000004D

	&:before
		content: ''
		position: absolute
		width: 308px
		height: 119px
		top: -172px
		left: -20px
		background-color: #2990FF
		filter: blur(104px)
		border-radius: 150px


