:root {
  --color-primary-black: #000000;
  --color-primary-white: #FFFFFF;

  --color-primary-blue: #2990FF;
  --color-primary-red: #E53935;
  --color-primary-yellow: #FFCC00;
  --color-primary-grey: #212121;
  --color-primary-green: #32E55E;

  --color-secondary-green: #32E55E4D;
  --color-secondary-green-dark: #32E55E26;
  --color-secondary-green-darken: #233E2A;
  --color-secondary-yellow: #FFCC004D;
  --color-secondary-red: #E539354D;
  --color-surface-dark: #171717;


  --color-dark-blue: #007AFF;
  --color-grey-dark: #2A2A2A;
  --color-grey-darken: #1A1A1A;
  --color-grey-secondary: #5E5E5E;
  --color-grey-secondary-light: #78797E;
  --color-grey-medium: #999999;
  --color-grey-light: #AAAAAA;
  --color-dark: #0F0F0F;
  --color-camel: #514100;
  --color-divider: #FFFFFF0D;

  --color-white-95: #FFFFFFF2
}
