@import "mixins/typography";
@import "./reset.css";
@import "./fonts";
@import "./colors";


* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

html, body {
  overflow: hidden;
  height: 100%;
  background-color: var(--color-dark);
  color: var(--color-primary-white);
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}

#app {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  user-select: none;
}

picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// scrollbar
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: rgba(#ccc, 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(#ccc, 0);
}

.SectionTitle {
  padding: 24px 16px 16px 16px;
  color: var(--color-grey-light);
}

.FixedButton--bottom {
  position: fixed;
  bottom: 100px;
  width: calc(100% - 32px);
  left: 16px;
}
