.referral_stats
  position: relative
  background-color: #000000

  &_hero
    display: flex
    align-items: center
    width: 100%
    font-family: 'Roboto', sans-serif
    flex-direction: column
    background: linear-gradient(180deg, #000000 15%, rgba(63, 111, 164, 0.2) 100%)

  &_stats
    position: relative
    width: 100%
    box-sizing: border-box
    padding-left: 28px
    padding-right: 46px
    margin-top: 8px
    padding-bottom: 70px

    &:before, &:after
      content: ''
      position: absolute
      height: 100%
      width: 58px
      top: 0
      z-index: 1

    &:before
      left: 0
      background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%)

    &:after
      right: 0
      background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0) 100%)

    &__line_container
      background: #282828
      height: 8px
      border-radius: 5px 0 0 5px
      position: relative
      width: calc(100% + 46px)

    &__line
      height: 100%
      transition: width 0.3s ease
      border-radius: 5px
      background: linear-gradient(90deg, #000000 0%, #BCFF2F 70%, #BCFF2F 100%)

  &_fields
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 100%

    p
      font-family: 'Roboto', sans-serif
      font-weight: 500
      letter-spacing: 0.26px
      text-align: left


    &_stat
      font-size: 18px
      justify-self: flex-end
      color: #BCFF2F
      line-height: 38px

    &_goal
      font-size: 36px
      text-align: center
      line-height: 66px
      color: #5E5E5E
      position: relative
      z-index: 1

      &__checkpoint
        position: absolute
        display: flex
        align-items: center
        transform: translateX(25%)
        top: 52px

        &__circle
          width: 35px
          height: 35px
          border-radius: 50%
          border: 4px solid #282828
          background-color: black
          display: flex
          justify-content: center
          align-items: center
          color: black

  &_prize_pool
    width: fit-content

    &_title
      font-size: 26px
      font-weight: 600
      line-height: 31px
      letter-spacing: 0.02em
      text-align: center
      color: #fff
      gap: 6px
      align-self: flex-end
      margin-right: 8px

      span
        font-size: 15px
        font-weight: 590
        line-height: 22px
        letter-spacing: -0.4px
        color: #2990FF
        padding: 0 6px
        background-color: #2990FF26
        border-radius: 24px
        height: fit-content

    &_amount
      font-size: 94px
      font-weight: 800
      line-height: 112px
      letter-spacing: 0.02em
      background: linear-gradient(180deg, #007AFF 24.07%, rgba(0, 0, 0, 0.4) 93.21%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

  &_rewards
    display: flex
    align-items: center
    background-color: #282828
    padding: 8px 12px
    border-radius: 16px
    box-shadow: 0 5px 24px 0 #00000059
    color: #fff
    margin-bottom: 55px
    margin-top: -6px
    gap: 16px
    font-family: "SF Pro", sans-serif
    font-size: 17px
    font-weight: 400
    line-height: 22px
    letter-spacing: -0.4px
    text-align: center

    p
      display: flex
      align-items: center
      gap: 6px

.referral_event
  margin-top: 40px
  margin-bottom: 24px

  &_tasks
    display: flex
    flex-direction: column
    gap: 12px
    padding: 12px

    &_wrapper
      display: flex
      flex-direction: column
      gap: 16px

    &__progress
      position: relative
      background-color: #1A1A1A
      padding: 12px 16px
      border-radius: 12px
      display: flex
      gap: 16px
      align-items: center

      &_friendsLink
        color: #BCFF2F

      &_chevron
        position: absolute
        right: 8px
        top: 8px
        margin-left: auto
        transition: transform 0.3s ease
        transform: rotate(0deg)

        &_active
          transform: rotate(180deg)


      &_title
        display: flex
        gap: 10px
        align-items: center
        color: #fff
        font-family: "SF Pro", sans-serif
        font-size: 17px
        font-weight: 510
        line-height: 22px
        letter-spacing: -0.4px
        text-align: left

        span
          font-family: "SF Pro", sans-serif
          font-size: 13px
          font-weight: 590
          line-height: 16px
          letter-spacing: -0.08px
          text-align: center
          background-color: #282828
          border-radius: 20px
          padding: 2px 5px

      &__content
        gap: 2px
        align-items: flex-start !important

      &__box
        position: relative
        display: flex
        justify-content: center
        align-items: center
        min-width: 40px
        width: 40px
        height: 40px
        background: #000
        border-radius: 8px
        overflow: hidden

        &_icon
          position: absolute
          width: 20px
          height: 20px

  &__participants
    font-family: "SF Pro", sans-serif
    color: #5E5E5E
    margin: 16px 12px 12px
    border: 1px solid #282828
    gap: 12px
    border-radius: 12px

    &_label
      font-size: 16px
      font-weight: 510
      line-height: 18px
      letter-spacing: 0.15px
      text-align: left

    &_value
      display: flex
      gap: 8px
      text-align: right

  &_terms
    padding: 12px 34px 120px 34px

    h5
      font-family: "SF Pro", sans-serif
      font-size: 16px
      font-weight: 590
      line-height: 21px
      letter-spacing: -0.23px
      text-align: left
      margin-bottom: 12px
      color: white

    p
      letter-spacing: -0.4px
      text-align: left
      color: #A6A6A6
.card
  &__box
    border-radius: 12px

  &__icon
    width: 100%
    height: 100%
    object-fit: cover

    &__box
      min-width: 40px
      width: 40px
      height: 40px
      margin-right: 16px
      background: #000
      border-radius: 8px
      overflow: hidden

.modal_wallet
  &__box
    background: #000
    border-radius: 10px
    padding: 20px

  &__button
    display: block
    width: 100%
    height: 50px
    border-radius: 10px
    text-align: center
    cursor: pointer

    &__white
      background: #fff
      color: #000 !important
